

.icon_container{
    position: absolute;
    left: 5vh;
    bottom: 25vh;
}

.github_icon{
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
}

.email_icon{
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
}

.youtube_icon{
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
}

.leftLine{
    height: 22vh;
    left: -7vh;
    position: absolute;
    bottom: -23vh;
}